<ion-view title="WikiPlayers" id="page1">
    <ion-content padding="true" class="has-header">
        <h1 id="page-heading1" style="color:#000000;text-align:center;">WIKIPLAYERS</h1>
        <form id="page-form1" class="list">
            <label class="item item-input" id="page-input1">
                <span class="input-label">Player Name:</span>
                <input ng-model="player.name" type="text" placeholder="Messi..." >
            </label>
            <span ng-show="notFound" class="error">Not found</span>
        </form>
        <a id="page-button1" ng-disabled="loading" class="button button-positive  button-block" ng-click="find()"><span ng-hide="loading">Buscar</span><span ng-show="loading">{{loading}}</span></a>
        <ion-list id="page-list2">
            <ion-item ng-click="openPlayer(localPlayer)" class="item-avatar" ng-repeat="localPlayer in localPlayers" id="page-list-item4">
                <img src="{{localPlayer.avatar}}">
                <h2>{{localPlayer.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>